@import url("~react-leaflet-markercluster/dist/styles.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  max-height: 80vh;
  min-height: 66vh;
  width: 100%;
  margin: 0 auto;
}

input {
  display: block;
}

/* @media (max-width: 1024px) {
  .leaflet-container {
    height: 50vh;
  }
} */
